<h1 class="uk-article-title">JSON Validator</h1>



<form class="uk-form">
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <textarea rows="10" placeholder="Enter Json Hear" class="uk-width-1-1" #json></textarea>
    </div>
  </div>
  <button class="uk-button uk-button-primary uk-margin-top uk-margin-bottom" type="button" data-uk-button (click)="onValidate(json)" >Validate JSON</button>
  <div class="uk-alert uk-alert-success" *ngIf="isValid">Json is valid</div>
  <div class="uk-alert uk-alert-danger" *ngIf="!isValid">Json is invalid</div>
</form>