<h1 class="uk-article-title">Epoch & Unix Time Converter</h1>
<div class="uk-grid">
    <p class="uk-article-lead"><b>Unix Time Stamp</b> : {{timeStamp}}</p>
</div>
<div class="uk-grid">
    <form class="uk-form uk-width-1">
        <fieldset data-uk-margin>
            <legend><b>Epoch (Unix) Time To Date</b></legend>
            <input type="number" placeholder="Enter epoch Time" name="timeStamp" [(ngModel)]="timeStampConvert">
            <button class="uk-button" (click)="onConvertToDate()">Convert To Date</button>
        </fieldset>
        <div class="uk-alert uk-alert-success">
          <div class="uk-width-1">
            <b>GMT: </b>{{gmtTime}} <br>
            <b>Your time zone: </b>{{localTime}}
          </div>
        </div>
    </form>
</div>
<hr>
<form class="uk-form">
    <fieldset data-uk-margin="">
        <legend>Date to Timestamp</legend>
        <div class="uk-grid">
          <div class="uk-width-1-10">Year  <input type="number" class="uk-margin-small-top"></div>
          <div class="uk-width-1-10"> Month <input type="number" class="uk-margin-small-top"></div>
          <div class="uk-width-1-10">Day <input type="number" class="uk-margin-small-top"></div>
          <div class="uk-width-1-10">Hour <input type="number" class="uk-margin-small-top"></div>
          <div class="uk-width-1-10">Min <input type="number" class="uk-margin-small-top"></div>
          <div class="uk-width-1-10">Sec <input type="number" class="uk-margin-small-top"></div>
            <button class="uk-button uk-margin-small-top">Button</button>
        </div>
    </fieldset>
</form>