<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

  <nav class="uk-navbar uk-margin-large-bottom">
      <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">Open Coder</a>
      <ul class="uk-navbar-nav uk-hidden-small">
          <li class="uk-active">
              <a [routerLink]="['/']">Home</a>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Blog</a>
          </li>
          <li>
              <a href="#">Documentation</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
          <li>
              <a href="#">Login</a>
          </li>
      </ul>
      <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
      <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Open Coder</div>
  </nav>
  <hr class="uk-grid-divider">

  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-5 uk-row-first" *ngFor="let menu of menus">
        <div class="uk-thumbnail">
            <a class="uk-thumbnail" [routerLink]="menu.router">
                <img src="assets/images/{{menu.icon}}" alt="">
                <div class="uk-thumbnail-caption">{{menu.label}}</div>
            </a>
        </div>
    </div>
  </div>
  <hr class="uk-grid-divider">
  <router-outlet></router-outlet>
<hr class="uk-grid-divider">

  <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-1">
          <div class="uk-panel uk-panel-box uk-text-center">
              <p><strong>Thanks all for using.</strong> </p>
          </div>
      </div>
  </div>


</div>
