<h1 class="uk-article-title">SASS to CSS (Convert SASS to CSS)</h1>
<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <div class="uk-panel"><ace-editor id="input" [(text)]="code" mode="css" style="height:400px;"></ace-editor></div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <div class="uk-panel">
              <ace-editor [(text)]="data" id="output" mode="css" style="height:400px;"></ace-editor>
            </div>
        </div>
    </div>
</div>
<button id="convert" class="success">Convert</button>