<h1 class="uk-article-title">Json to TS (Convert Json to Typescript)</h1>
<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            <!-- <ace-editor [(text)]="code" mode="json" style="height:400px;"></ace-editor> -->
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <div class="uk-panel">
              <!-- <ace-editor [(text)]="data" mode="json" style="height:400px;"></ace-editor> -->
              <ngx-monaco-editor class="my-code-editor" [options]="editorOptionsOutput" [(ngModel)]="data"></ngx-monaco-editor>
            </div>
        </div>
    </div>
</div>